<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758115774760-3q63hbg0fe95t4p18q2m3tfvin6dt09l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758115774760-3q63hbg0fe95t4p18q2m3tfvin6dt09l</string>
	<key>API_KEY</key>
	<string>AIzaSyAQhBfBJT_yKovbLHu4KKt9F7RfrfM885U</string>
	<key>GCM_SENDER_ID</key>
	<string>758115774760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easyShopping</string>
	<key>PROJECT_ID</key>
	<string>meal-monkey-77d82</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-monkey-77d82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758115774760:ios:a345835daef81db98f201d</string>
</dict>
</plist>